 <div class="container">
 <div class="row">
 <% @apps.each do |app| %>
         
  <div class="col-sm-4"><%= app.full_name %></div>
  <div class="col-sm-8"><%= app.email %></div>

  <% end %>      
    </div>
    </div>
